body {
    background-color: #efe5d0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
header {
    background-color: #d5aaf8;
    color: #000000;
    margin: 0pz;
    text-align: center;
    padding: 5px;
}
h1 {
    margin: 0px;
}
section#main {
    float: right;
    width: 70%;
    height: 200px;
    background-color: rgb(185, 129, 255);
}
nav {
    float: left;
    width: 30%;
    height: 200px;
    background-color: #fff894;
}
footer {
    background-color: #7634ad;
    color: #efe5d0;
    text-align: center;
    padding: 10px;
    margin: 0px 0px 0px 0px;
    font-size: 90%;
    clear: both;
}